.navbar {
    background: linear-gradient(to right bottom, #b5ace9, #6954df);
    /* position: sticky; */
}

.glass-text {
    margin: 50px;
    font-size: 25px;
}

.glass {
    width: 480px;
    height: 600px;
    padding-top: 50px;
    text-align: justify;
    border-bottom-right-radius: 120px;
    border-top-right-radius: 40px;
    font-family: "Salsa", "cursive";
    font-weight: 800;
    font-style: normal;
    letter-spacing: 2px;
}

.nav-item {
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

body {
    background-color: #1c2331;
}

.content {
    margin: 100px;
    text-align: justify;
    color: white;
    font-size: 17px;
    font-family: "Salsa", "cursive";
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px;
}

.info {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    text-align: justify;
}

.col {
    color: white;
}

.carousel {
    display: flex;
    justify-content: center;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}

.btn:hover {
    background-color: #1c2331;
    text-decoration: underline;
    color: black;
    /* font-size: 20px; */
    scale: 1.1;
}

.collapse ul li a:hover {
    animation-fill-mode: forwards;
    color: rgb(16, 1, 54);
    text-decoration: underline;
}

a {
    text-decoration: none;
}

hr {
    color: aqua;
    height: 10px;
}

i {
    color: goldenrod;
}
.cont-img{
    height: 520px;
    width: 800px;
}
.card-img-top{
    height: 20vw;
}